.card-wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modalOpened{
    opacity: .3;
    height: 100%;
    width: 100%;
}

.modalClosed{
    height: 100vh;
    width: 100vw;
}
.star {
    margin-right: 8px;
}




